@import url('base/global.css');


@import url('components/header.css');
@import url('components/sections.css');
@import url('components/home.css');
@import url('components/about-main.css');
@import url('components/about-timeline.css');
@import url('components/about-organizations.css');
@import url('components/about-value_wheel.css');
@import url('components/about-beyond_keyboard.css');
@import url('components/about-achievements_grid.css');
@import url('components/about-mission_section.css');
@import url('components/skills.css');
@import url('components/projects.css');
@import url('components/certificates.css');
@import url('components/updates.css');
@import url('components/resume.css');
@import url('components/contacts.css');
@import url('components/footer.css');
