<section id="about" class="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        
        <p class="about-summary-lead">
            A passionate DevOps & SRE Professional with 11+ years of diverse experience across Development, Cloud, Infrastructure, IoT, and Large-Scale Operations. Currently, I work as a Reporting and Capability Manager, Apraiser Consultant at HCLTech, deployed to SAP Ariba, where I lead a global team of 43 engineers accross the world and collaborate closely with clients and leadership to keep business-critical systems stable, scalable, and continuously improving.
        </p>
    </div>
</section>
