<section id="about" class="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        
        <p class="about-summary-lead">
            Hi, I’m Anup Kumar Mondal, a passionate DevOps & SRE Professional with 10+ years of diverse experience across Development, Cloud, Infrastructure, IoT, and Large-Scale Operations. Currently, I work as a Reporting Manager at HCLTech, deployed to SAP Ariba, where I lead a global team of 34 engineers accross the world and collaborate closely with clients and leadership to keep business-critical systems stable, scalable, and continuously improving.
        </p>
    </div>
</section>
