<section id="journey" class="journey-section">
    <div class="container">
        
        <h2 class="section-title">My Journey</h2>
        
        <div class="career-timeline">
            <div class="timeline-item">
                <div class="timeline-point"></div>
                <div class="timeline-content">
                    <span class="timeline-year">Past - 2014</span>
                    <h4>Schooling and Higher Studies</h4>
                    <p>I completed my schooling in West Bengal and went on to pursue BCA and MCA from West Bengal University of Technology (WBUT), graduating in 2014.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-point"></div>
                <div class="timeline-content">
                    <span class="timeline-year">2014 - 2016</span>
                    <h4>Web Development - Front-End</h4>
                    <p>Started my career building dynamic front-end solutions using php, css, MySQL, JS creating e-commerce platforms, and developing WordPress-based websites.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-point"></div>
                <div class="timeline-content">
                    <span class="timeline-year">2016 - 2019</span>
                    <h4>AWS & Operations Focus</h4>
                    <p>In 2016, everything changed—I got my first opportunity to work with AWS Cloud. From developing, deploying applications to monitoring and maintaining them, I discovered my passion for operations, cloud infrastructure, automation, and system reliability.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-point"></div>
                <div class="timeline-content">
                    <span class="timeline-year">2019 - 2021</span>
                    <h4>IoT Solutions & Systems</h4>
                    <p>Worked extensively with high-traffic IoT solutions. This strengthened skills in low-level systems, networking, debugging, automation scripting, and designing high-availability architectures.</p>
                </div>
            </div>

            <div class="timeline-item current">
                <div class="timeline-point"></div>
                <div class="timeline-content">
                    <span class="timeline-year">2021 - 2025</span>
                    <h4>DevOps, SRE & Leadership</h4>
                    <p>Fully integrated into the DevOps & SRE, working across nearly all major tools, platforms, and technologies in the DevOps ecosystem, leading global teams and managing critical systems across major tools, platforms, and technologies in the CI/CD and observability space.</p>
                </div>
            </div>

            <div class="timeline-item current">
                <div class="timeline-point"></div>
                <div class="timeline-content">
                    <span class="timeline-year">2025 - Present</span>
                    <h4>Leadership & Global Team Management - Operations</h4>
                    <p>From 2025, I transitioned into a leadership role through consistent performance, dedication, and ownership. <br> I currently lead and manage a globally distributed team.</p>
                </div>
            </div>

            <div class="timeline-end-ball"></div>

        </div>
    </div>
</section>