<section id="home" class="hero">
    <div class="container hero-content">
        <div class="profile-photo-container">
            <img src="assets/images/profile/profile_photo_1.jpg" alt="Anup Kumar Mondal Profile Photo" class="profile-photo">
        </div>
        <h1>Hello, I'm <span>Anup</span></h1>
        <p>Reporting Manager and Appraiser Consultant at - HCLTech (SAP Ariba) <br> Ex-Wipro, Ex-Cisco</p>
        <div class="hero-btns">
            <a href="#projects" class="btn btn-primary">View Projects</a>
            <a href="#contact" class="btn btn-outline">Contact Me</a>
        </div>
    </div>
</section>