<section id="projects" class="projects">
<h2>Projects</h2>
<p class="project-summary">
    SOmething goes here.
</p>
<div class="project-grid">
    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>

    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>

    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>

    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>

    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>

    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>

    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>
    
    <a href="pages/project-one.html" class="project-card">
        <h3>Project Title One</h3>
        <p>Cloud Infrastructure setup and continuous deployment pipeline using Terraform and Jenkins.</p>
        <span class="card-tag">DevOps</span>
    </a>
</div>
</section>