<section id="updates" class="updates-section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Recent Articles</h2>
            <p class="section-subtitle">
                Real-time insights into my current initiatives, technical explorations, and recent milestones.
            </p>
        </div>

        <div class="updates-feed">
            <article class="update-card">
                <div class="update-date">
                    <span class="day">05</span>
                    <span class="month">Jan</span>
                </div>
                <div class="update-content">
                    <div class="update-meta">
                        <span class="update-tag achievement">#SYSADMIN</span>
                        <span class="read-time">8 min read</span>
                    </div>
                    <h3>Initial Server Setup – Red Hat Linux (RHEL)</h3>
                    <p>Production-grade Initial Server Setup checklist for Red Hat Linux (RHEL / Alma / Rocky).</p>
                    <div class="update-footer">
                        <a href="/assets/articles/YEAR2026/System-Administration/Initial-Server-Setup/initial-server-setup.html" class="read-more" target="_blank" rel="noopener noreferrer">Read Full Insight </i></a>
                    </div>
                </div>
            </article>

            <article class="update-card">
                <div class="update-date">
                    <span class="day">25</span>
                    <span class="month">Feb</span>
                </div>
                <div class="update-content">
                    <div class="update-meta">
                        <span class="update-tag achievement">#CONFIGURATION_MANAGEMENT</span>
                        <span class="read-time">8 min read</span>
                    </div>
                    <h3>Install and Configure Ansible : A Step-by-Step Guide</h3>
                    <p>A quick-start guide for installing Ansible, configuring the control node, and verifying connectivity.</p>
                    <div class="update-footer">
                        <a href="/assets/articles/YEAR2026/Configuration-Management/Ansible/ansible-installation-and-configuration.html" class="read-more" target="_blank" rel="noopener noreferrer">Read Full Insight </i></a>
                    </div>
                </div>
            </article>

            <!-- <article class="update-card">
                <div class="update-date">
                    <span class="day">15</span>
                    <span class="month">Dec</span>
                </div>
                <div class="update-content">
                    <div class="update-meta">
                        <span class="update-tag achievement">#Achievement</span>
                    </div>
                    <h3>Team Expansion: Scaled to 34+ Engineers</h3>
                    <p>Proud to announce that our global engineering pod has successfully expanded. We’ve integrated 5 new SRE specialists to bolster our SAP Ariba infrastructure support across three time zones.</p>
                    <div class="update-footer">
                        <a href="#" class="read-more">Read Full Insight </i></a>
                    </div>
                </div>
            </article>

            <article class="update-card">
                <div class="update-date">
                    <span class="day">02</span>
                    <span class="month">Dec</span>
                </div>
                <div class="update-content">
                    <div class="update-meta">
                        <span class="update-tag project">#ProjectUpdate</span>
                    </div>
                    <h3>Zero-Downtime Migration Completed</h3>
                    <p>Successfully migrated 450+ microservices to a new Kubernetes cluster architecture without a single second of downtime for end-users. Managed the cross-functional communication between Dev and Ops.</p>
                    <div class="update-footer">
                        <a href="#" class="read-more">Read Full Insight </a>
                    </div>
                </div>
            </article>
        </div> -->

        <div class="updates-action">
            <a href="/assets/articles/registry.html" class="view-all-updates">View All Archive</a>
        </div>
    </div>
</section>