body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: var(--color-card-bg);
    color: var(--color-text-main);
    line-height: 1.6;
    scroll-behavior: smooth;
}

section {
    padding: 80px 0; /* Consistent spacing for all sections */
}

.btn {
    display: inline-block;
    background: var(--color-primary);
    color: #fff;
    padding: 14px 32px;
    font-size: 1rem;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.btn:hover {
    background: var(--color-primary-dark);
}