.about {
    background-color: var(--color-light-bg);
    padding: var(--spacing-section-padding); 
}

.section-title {
    text-align: center;
    font-size: clamp(2rem, 5vw, 2.8rem); 
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 15px;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: var(--color-primary);
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #000000;
    border-radius: 10px;
}

.about-summary-lead {
    letter-spacing: -0.011em;
    font-size: 1.15rem; 
    line-height: 1.8;
    color: var(--color-text-secondary);
    max-width: 850px;
    margin: 0 auto; 
    text-align: center;
}

.about-summary-lead span {
    color: var(--color-primary);
    font-weight: 700;
}

.about-summary-lead strong {
    color: var(--color-text-main);
    font-weight: 800;
}





/* Responsive Design */
@media (max-width: 768px) {
    .about-summary-lead {
        text-align: center; 
        font-size: 1.05rem;
    }
}