.hero {
    background: var(--color-light-bg);
    padding: calc(var(--spacing-header-height) + 80px) 20px 100px 20px;
}

.hero h1 {
    font-size: 2.6rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.hero h1 span {
    color: var(--color-primary);
}

.hero p {
    font-size: 1.1rem;
    color: var(--color-text-secondary);
    margin-bottom: 30px;
}

.profile-photo-container {
    margin-bottom: 30px; 
    display: inline-block; 
    position: relative;
}

.profile-photo {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
    border: 4px solid var(--color-card-bg); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}